{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}

    
<br/>   
<h1> Changing Password ... </h1>
<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}  <!-- cross site resquest forgery protection, see more on django doc -->
        {{ form.as_p }}    <!-- can change as_table, as_ul ... -->
        <ul>
            <li>Your pass can't be too similar to your other personal information.</li>
            <li>Your pass must contain at least 8 characters.</li>
            <li>Your pass can't be a commonly used password.</li>
            <li>Your pass can't be entirely numeric</li>
        </ul>
        <button class="btn btn-secondary">Change</button>
        <!-- need to define a methods in models to point this post to -->
</div>

{% endblock %}