{% extends 'base.html' %}

{% block content %}

    
    
<h1> Post</h1>
<ul>
{% for post in object_list %}   <!-- Can replace post with any character -->
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
        - <a href="{% url 'category' post.category %}"> {{ post.category }} </a> 
        - {{ post.post_date }}
        - {{ post.author }}
        <small>
            {% if user.is_authenticated %}
                - <a href="{% url 'update_post' post.pk %}">(Edit)</a> |
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}
        
        </small><br/> <!-- can call attr of author, ie: author.first_name -->
        {{ post.snippet }}
    
    </li>
{% endfor %}
</ul>
<!-- an example for loop to iterate cate_menu
{% for item in cat_menu %}
{{ item }} <br/>
{% endfor %}
-->
<!-- want to see what is cat_menu?
    {{cat_menu}}
-->
{% endblock %}